body {
  margin: 0;
  padding: 0;
}

#page {
  position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  margin: 0;
  padding: 0;
  border: none;
}

.form-changer {
 position: absolute;
 top: 0;
 right: 20px;
  margin: auto;
}

.form-changer p {
  padding: 0 20px;
  font-weight: 700;
}